* {
    background-color: #f7f2ed;
    font-family: Arial;
}

head {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body  {
    font-size: 1.1em;
    color: #4a2e10;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainPara {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1em;
    color: #7a5d3e;
    padding-bottom: 40px;
    text-align: center;
}

.homeImg {
    float: left;
}

table tr td {
    border: 1px solid black;
}

.loginForm {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.essayBlock {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}